<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
     
  <!-- version number is mayor.minor.zero.uxplayversion -->
  <Package
    Id="uxplaystudio"
    Name="UxPlay Studio"
    Manufacturer="inspirezuza"
    Version="1.0.0.0"
    UpgradeCode="0b70ca8d-8078-4671-82d5-9bb4ed213133"
    Language="1033"
    Scope="perMachine">

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of UxPlay Studio is already installed." />
    <WixVariable Id="WixUILicenseRtf" Value="./docs/LICENSE.rtf" />
    <MediaTemplate EmbedCab="yes" />

    <ui:WixUI Id="WixUI_FeatureTree" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLDIR" Name="UxPlay Studio" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="UxPlay Studio" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentGroupRef Id="AppExe" />
      <ComponentRef Id="ProgramMenuShortcutComponent" />
    </Feature>

    <Feature
      Id="DesktopShortcuts"
      Title="Desktop Shortcut"
      Description="Create a shortcut on the desktop"
      Level="1">
      <ComponentRef Id="DesktopShortcutComponent" />
    </Feature>

    <ComponentGroup Id="AppFiles" Directory="INSTALLDIR">
      <Files Include="./release/**">
        <Exclude Files="./release/uxplay-studio.exe;**/*.pdb;**/uxplay-studio.exe" />
      </Files>
    </ComponentGroup>

    <ComponentGroup Id="AppExe" Directory="INSTALLDIR">
      <Component Id="AppExeComponent"
                 Guid="a94b7476-c43c-4a2f-a14e-1468505e29a3">
        <File Id="AppExeFile"
              Source="./release/uxplay-studio.exe"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <StandardDirectory Id="DesktopFolder" />
    <StandardDirectory Id="ProgramMenuFolder" />

    <Component Id="ProgramMenuShortcutComponent"
               Guid="900f4ca7-022e-4fde-9205-00cb56de07db"
               Directory="ProgramMenuFolder">
      <RegistryValue
        Root="HKCU"
        Key="Software\inspirezuza\UxPlayStudio"
        Name="ProgramMenuShortcut"
        Type="integer"
        Value="1"
        KeyPath="yes" />
      <Shortcut
        Name="UxPlay Studio"
        Directory="ProgramMenuFolder"
        Target="[INSTALLDIR]uxplay-studio.exe"
        WorkingDirectory="INSTALLDIR"
        Advertise="no" />
    </Component>

    <Component Id="DesktopShortcutComponent"
               Guid="c4a27d21-bebc-4d6c-8c8a-d12d176306be"
               Directory="DesktopFolder">
      <RegistryValue
        Root="HKCU"
        Key="Software\inspirezuza\UxPlayStudio"
        Name="DesktopShortcut"
        Type="integer"
        Value="1"
        KeyPath="yes" />
      <Shortcut
        Name="UxPlay Studio"
        Directory="DesktopFolder"
        Target="[INSTALLDIR]uxplay-studio.exe"
        WorkingDirectory="INSTALLDIR"
        Advertise="no" />
    </Component>

  </Package>
</Wix>
